@import url('https://fonts.googleapis.com/css2?family=Micro+4&display=swap');

body {
    display: grid;
    grid-template-areas:
        'meio1 topo topo topo topo'
        'meio1 meio2 meio2 meio2 meio3'
        'meio1 rodape rodape rodape meio3';
    width: 100vh;
    height: 100vh;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Micro 5", sans-serif;
}

#menuglobal {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    
}

#cabecalho {
    
    justify-content: space-between;
    align-items: left;
    text-align: left;
    padding: 2rem;
}
.item1 a{
    text-decoration: none;
}


.item1 {
    grid-area: topo;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(184, 184, 184);
    display: flex;
    
}

.item2 {
    grid-area: meio1;
    border-right: solid rgb(184, 184, 184);
    border-width: 1px;
    width: 213px;
    margin-left: 70px;
    
    
}
.item2 .center-text {
    padding-top: 30px;
    display: flex;
    align-items: center; 
    gap: 20px;
    
}
 
#centro {
    display: flex;
    margin: 35px;



}


/* .item3 {
    grid-area: meio2;
    background-color: blueviolet;
    text-align: justify;
    border-radius: 5px;
} */

.item4 {
    grid-area: meio3;
    
}

.item5 {
    grid-area: rodape;
    background-color: red;
}


.centro-1 {

    display: flex;
    flex-direction: column;
    text-align: left;
    
    background-color: #8C52FF;
    border-radius: 16px;
    padding: 1rem;
}

.btn{
    display: flex;
    flex-direction: row;
}

#centro {
    display: inline-block;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    width: 780px;
    text-size-adjust: 80px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
 /* border-top: solid rgb(184, 184, 184); */
    border-width: 2px;
}

.corpo1 {
    display: flex;
    flex-direction: row-reverse;
}

/* #corpo2 {
    display: inline-block;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    text-size-adjust: 80px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-width: 2px;
    height: 138%; 
} */

#corpo2  {
    width: 221px;
}
#corpo2 .center-text{
    display: flex;
    align-items: center;
    padding-top: 14px;
}


/* table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    
} */


.azul {
    color: blue;
}

.branco {
    color: white
}

.traco {
    text-decoration: line-through;
}

#fonteGrande {
    font-size: xx-large;
}

/* essa regra indica que todo paragrafo decendente de uma div vai ter a cor do texto verde */




/* table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse; 
    border-radius: 10px;
} */


.quadrado {
    height: 200px;
    width: 50%;
    overflow: auto;
}



.relativa {
    position: relative;
    /*  top: 20px;
    left: 50px; */
}

.absoluta {
    position: absolute;
    top: 20px;
    right: 0px;
}

#zeratudo {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    opacity: 1;
}

img:hover {
    opacity: 0.5;
}

.flexivel {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    align-content: space-between;

}

.menor {
    height: 20px;
    width: 20px;
    background-color: blueviolet;
    text-align: center;
}

.diferente {
    height: 30px;
}



span {
    color: rgb(255, 255, 255)
}


.voce {
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-size: 65px;
}

/* yy */

.textocolor {
    color: rgb(255, 255, 255);
    display: inline;
}

.botao {

    color: #8C52FF;
    text-decoration: none;
    background: white;
    border-radius: 20px;
    padding: 20px;
    border: solid #ffffff;
}

.botao2 {

    color: #ffffff;
    text-decoration: none;
    background: #8C52FF;
    border-radius: 20px;
    padding: 20px;
    border: solid #ffffff;
}


/* isso eh fim do gride */