@import url("https://fonts.googleapis.com/css2?family=Micro+4&display=swap");

*{
  margin: 0;
  padding: 0;
}

.left .logo {
  /* overflow: hidden; */
  height: 100vh;
}

.left {
  /* min-width: 180px; */
  width: 400px;
  font-size: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 0;
  height: 100vh;
  bottom: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  border-right: 0.0625rem solid #e0e0e0;
  /* margin: 0 auto; */
  /* position: fixed; */
  /* height: 100%; */
}

.logo {
  padding-top: 20px;
  padding-left: 20px;
  text-decoration: none;
}
.left .logo a {
  text-decoration: none;
}
.logo span {
  padding: 20px;
}
.conteudo {
  display: flex;
  flex-direction: row;
  height: 100vh;
}