body{
    margin: 0;
    padding: 0;
    
}
#container{
    width: 100%;
    
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15vh 65vh 20vh;
}
.grid-item{
    display: flex;
    background: rgb(0 0 255 / 14%);
    border: 2px solid blue;
    
}