@import url("https://fonts.googleapis.com/css2?family=Micro+4&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  font-family: "Micro 5", sans-serif;
}

#header{
  display: flex;
  flex-direction: row;
  height: 100px;
  border-bottom: 1px solid gray;
  
}
.inicio{
  display: flex;
  width: 200px;
  border-right: 1px;
  align-items: center;
}
.nav-inicio{
  display: flex;
  padding-left: 700px;
  gap: 30px;
}
.flex{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn-inicio{
  border: none;
}
.space{
  margin: 2rem;
  
}
.contasReceber a{
  display: flex;
  flex-direction: row;
  
}

.navEsquerda{
  position: fixed;
  width: 300px;
  border-right: 1px solid gray;
  height: 100%;
}
.navEsquerda h1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 500px;
}